<div class="row">
  <div class="col-lg-3">
    <h2 class="mt-5">Filters</h2>
    <%= render partial: 'finder/filter_form' %>
  </div>

  <div class="col-lg-9 home-content">
    <div class="row">
      <div class="col-md-9 col-sm-12 mt-8">
        <%= render partial: 'finder/toggle' %>
      </div>

      <% if user_signed_in? %>
        <div class="col-lg-3 col-sm-12 mt-4">
          <%= link_to 'New Tourbook', new_user_tourbook_path(current_user), class: 'btn btn-primary float-right new-tourbook-btn' %>
          <%= link_to 'New Guidebook', new_user_guidebook_path(current_user), class: 'btn btn-primary float-right new-guidebook-btn' %>
        </div>
      <% end %>
    </div>

    <div id="tours-content" style="<%= @tab == 'tours' ? '' : 'display: none;' %>">

      <div class="sort-wrapper">
        <%= render(SortComponent, collection_name: :tours, value: @sort.try(:[], :tours)) %>
      </div>

      <div class="row tours-container">
        <%= render partial: 'tours/tour', collection: @tours %>
      </div>
      <%= paginate @tours, param_name: :tour_pagina, :params => {:tab => "tours"} %>
    </div>

    <div id="tourbooks-content" style="<%= @tab == 'tourbooks' ? '' : 'display: none;' %>">

      <div class="sort-wrapper">
        <%= render(SortComponent, collection_name: :tourbooks, value: @sort.try(:[], :tourbooks)) %>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row tours-container">
            <%= render partial: 'tourbooks/tourbooks_display' %>
          </div>
        </div>

      </div>
      <%= paginate @tourbooks, param_name: :tourbook_pagina, :params => {:tab => "tourbooks"} %>
    </div>

    <div id="guidebooks-content" style="<%= @tab == 'guidebooks' ? '' : 'display: none;' %>">

      <div class="sort-wrapper">
        <%= render(SortComponent, collection_name: :guidebooks, value: @sort.try(:[], :guidebooks)) %>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row tours-container">
            <%= render partial: 'guidebooks/guidebooks_display' %>
          </div>
        </div>

      </div>
      <%= paginate @guidebooks, param_name: :guidebook_pagina, :params => {:tab => "guidebooks"} %> 
    </div>

  </div>
</div>

<%= javascript_tag do %>
  $('.new-tourbook-btn').hide();
  $('.new-guidebook-btn').hide();

  $('#option-tour').change(function() {
    $('#tourbooks-content').hide();
    $('#guidebooks-content').hide();
    $('.new-tourbook-btn').hide();
    $('.new-guidebook-btn').hide();
    $('#tours-content').show();
    $('#tab').val('tours');
  });

  $('#option-tourbooks').change(function() {
    $('#tours-content').hide();
    $('#guidebooks-content').hide();
    $('.new-guidebook-btn').hide();
    $('#tourbooks-content').show();
    $('.new-tourbook-btn').show();
    $('#tab').val('tourbooks');
  });

  $('#option-guidebooks').change(function() {
    $('#tours-content').hide();
    $('#tourbooks-content').hide();
    $('.new-tourbook-btn').hide();

    $('#guidebooks-content').show();
    $('.new-guidebook-btn').show();

    $('#tab').val('guidebooks');
  });

<% end %>
