<div id="scene-<%= scene.id %>" class="col-xl-4 col-lg-4 col-md-6 mb-4 scene-item">
  <div class="card photo-card h-100">
    <div class="card-body">
      <%= link_to edit_user_guidebook_scene_path(@user, @guidebook, scene) do %>
        <%= fa_icon('cog', class: 'scene-edit float-right') %>
      <% end %>
      <h4 class="card-text">
        <%= truncate(scene.description, length: 120, separator: ' ') %>
      </h4>
      
      <p class="card-text">Position: <%= scene.position %></p>
    </div>

    <%= render partial: 'photos/photo', locals: { photo: scene.photo } %>

    <div class="card-footer">
      <small class="text-muted">
        uploaded by: <%= @guidebook.user.name %>
      </small>
    </div>
  </div>

</div>
