<div class="row">
  <div class="col-lg-3">
    <h2 class="mt-5">Filters</h2>
    <%= render partial: 'filter_form' %>
  </div>

  <div class="col-lg-9 home-content">
    <div class="row">
      <div class="col-md-9 col-sm-12 mt-8">
        <%= render partial: 'toggle' %>
      </div>
      
      <% if user_signed_in? %>
        <div class="col-lg-3 col-sm-12 mt-4">
          <%= link_to "New TourBook", new_user_tour_book_path(current_user), class: 'btn btn-primary float-right new-tour-book-btn' %>
        </div>
      <% end %>
    </div>
    
    <div id="tours-content">
      <div class="row tours-container">
        <%= render partial: 'tours/tour', collection: @tours %>
      </div>  
      <%= paginate @tours %>
    </div>
    
    <div id="tourbooks-content" style="display: none;">
      <div class="row">
        <div class="col-lg-12">
          <div class="row tours-container">
            <%= render partial: 'tour_books/tour_books_display' %>
          </div>
        </div>

      </div>
      <%= paginate @tour_books %>
    </div>
  
  </div>
</div>

<%= javascript_tag do %>
  $('.new-tour-book-btn').hide();
  
  $('#option-tour').change(function() {
    $('#tourbooks-content').hide();
    $('#tours-content').show();
    $('.new-tour-book-btn').hide();
  });

  $('#option-tourbooks').change(function() {
    $('#tours-content').hide();
    $('#tourbooks-content').show();
    $('.new-tour-book-btn').show();
  });
<% end %>
