<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <h1 class="my-4">
          <%= @user.present? ? 'My tours' : 'Tours' %>
        </h1>
        <% description app_description %>
      </div>

      <% if @user.present? %>
        <div class="col-lg-3 col-sm-12 mt-4">
          <%= link_to "New Tour", new_user_tour_path(current_user), class: 'btn btn-primary float-right' %>
        </div>
      <% end %>
    </div>
  
    <div class="row mt-4">
      <div class="col-lg-3">
        <%= render partial: 'tour_filter' %>
      </div>

      <div class="col-lg-9 tours_list">
        <div class="tours-container">
          <% if @tours.size.positive? %>
            <%= render partial: 'tours_display', locals: {tours: @tours} %>
            <%= paginate @tours %>
          <% else %>
            <p class="nothing-text">
              No results matched your search criteria, try a different search instead.
            </p>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
</div>
