<% content_for :meta_title do %>
  <% @tour.name %>
<% end %>

<% content_for :meta_description do %>
  <% @tour.description %>
<% end %>

<% content_for :meta_image do %>
  <% @tour.photos.first.try(:street_view_thumbnail_url) if @tour.photos.any? %>
<% end %>

<% if @tour.photos.any? %>
  <% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var photos = <%= raw @tour.photos.try(:to_json) %>;
            initMap(photos);
        });
    </script>
  <% end %>
<% end %>

<div class="row">
  <div class="py-5 col-lg-12">
    <div class="card">

      <h1 class="card-header"><%= title "#{@tour.name} tour" %></h1>
      <% description @tour.description %>

      <div class="card-body">

        <h3 class="card-title"><%= @tour.name %></h3>

        <% if @tour.description.present? %>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Desciption</label>
            <div class="col-sm-10">
              <p><%= @tour.description %></p>
            </div>
          </div>
        <% end %>

        <% if @tour.country.present? && @tour.country.name.present? %>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tour location</label>
            <div class="col-sm-10">
              <%= link_to @tour.country.name, "/tours?query[country_id]=#{@tour.country.id}", class: 'btn btn-warning' %>
            </div>
          </div>
        <% end %>

        <% if @tour.tags.any? %>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tags</label>
            <div class="col-sm-10">
              <% @tour.tags.each do |tag| %>
                <%= link_to tag.name, "/tours?search_text=#{tag.name}", class: 'btn btn-info' %>
              <% end %>

            </div>
          </div>
        <% end %>

        <% if @tour.tour_type.present? %>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tour type</label>
            <div class="col-sm-10">
              <%= link_to @tour.tour_type, "/tours?query[tour_type]=#{@tour.tour_type}", class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>

        <% if @tour.transport_type.present? %>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Transport type</label>
            <div class="col-sm-10">
              <%= @tour.transport_type %>
            </div>
          </div>
        <% end %>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Explorer ID</label>
          <div class="col-sm-10">
            <%= @tour.id %>
          </div>
        </div>

        <% if @tour.tourer_tour_id.present? %>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tourer ID</label>
            <div class="col-sm-10">
              <%= @tour.tourer_tour_id %>
            </div>
          </div>
        <% end %>

        <% if @tour.photos.any? %>
          <div id="map" class="mb-3"></div>

          <div class="mb-3">
            <%= area_chart @tour.photos.group(:taken_date_time).maximum(:elevation_meters) %>
          </div>

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Photo ID</th>
                <th scope="col">Photo capture date</th>
                <th scope="col">Photo filename</th>
                <th scope="col">Photo latitude</th>
                <th scope="col">Photo longitude</th>
                <th scope="col">Photo elevation</th>
                <th scope="col">Link to Street View</th>
              </tr>
            </thead>
            <tbody>
              <% @tour.photos.each_with_index do |photo, index| %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= photo.id %></td>
                  <td><%= photo.taken_date_time %></td>
                  <td><%= photo.file_name %></td>
                  <td><%= photo.latitude %></td>
                  <td><%= photo.longitude %></td>
                  <td><%= photo.elevation_meters %></td>
                  <td><%= photo.street_view_url ? link_to('See street view', photo.street_view_url, target: '_blank') : '' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

    </div>
  </div>
</div>
