<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <h1 class="my-4">
          <%= @user.present? ? 'My tourbooks' : 'Tourbooks' %>
        </h1>
        <% description app_description %>
      </div>
      <% if @user.present? %>
        <div class="col-lg-3 col-sm-12 mt-4">
          <%= link_to(
                "New Tourbook",
                new_user_tourbook_path(@user),
                class: 'btn btn-primary float-right'
              )
          %>
        </div>
      <% end %>
    </div>

    <div class="row mt-4">
      <div class="col-lg-3">
        <%= render partial: 'tourbook_filter' %>
      </div>

      <div class="col-lg-9">
        <div class="tourbooks-container">
          <%= render partial: 'tourbooks_display', locals: {tourbooks: @tourbooks} %>
          <%= paginate @tourbooks %>
        </div>
      </div>
    </div>

  </div>
</div>
