
<div class="card photo-card h-100">
  <%= render(ViewpointComponent, viewpoint: photo.favoritable_score.present? ? photo.favoritable_score[:favorite] : 0, photo_id: photo.id) %>
  <a class="photo-card-link" href="<%= photo_path(photo.id) %>">
    <img class="card-img-top" src="<%= photo_thumb_url(photo) %>" alt="">

    <div class="card-body">
      <p class="card-text"><%= photo.latitude %> / <%= photo.longitude %></p>
      <p class="card-text"><%= photo.elevation_meters %>m</p>
      <p class="card-text"><%= photo.taken_at.to_formatted_s(:short) %></p>
      <p class="card-text"><%= photo.streetview['share_link'] ? link_to('See street view', photo.streetview['share_link'], target: '_blank') : '' %></p>
    </div>
  </a>
</div>

