<div class="card photo-card" style="width: 18rem;">
  <img class="card-img-top" src="<%= photo.street_view_thumbnail_url %>" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><%= photo.file_name %></p>
    <p class="card-text"><%= photo.latitude %> / <%= photo.longitude %></p>
    <p class="card-text"><%= photo.elevation_meters %></p>
    <p class="card-text"><%= photo.taken_date_time.to_formatted_s(:short) %></p>
    <p class="card-text"><%= photo.street_view_url ? link_to('See street view', photo.street_view_url, target: '_blank') : '' %></p>
  </div>
</div>